# Ativa o mecanismo de reescrita de URL
RewriteEngine On

# Força o HTTPS em todas as páginas
RewriteCond %{HTTPS} !=on
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Remove a barra "/" no final da URL, exceto para diretórios reais
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} ^(.+)/$
RewriteRule ^ %1 [R=301,L]

# Redireciona URLs amigáveis para index.php com parâmetros, se não for um arquivo ou diretório existente
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]

# Desativa a navegação por diretórios para proteger o conteúdo
Options -Indexes

# Desativa o cache de arquivos CSS e JS
<FilesMatch "\.(css|js)$">
    Header set Cache-Control "no-cache, no-store, must-revalidate"
    Header set Pragma "no-cache"
    Header set Expires "0"
</FilesMatch>
